<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Jee_projet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Hello</display-name>
    <servlet-name>Hello</servlet-name>
    <servlet-class>controlers.Hello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/Hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>controlers.login.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>controlers.logout.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sections</display-name>
    <servlet-name>Sections</servlet-name>
    <servlet-class>controlers.section.Sections</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sections</servlet-name>
    <url-pattern>/Sections</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSection</display-name>
    <servlet-name>AddSection</servlet-name>
    <servlet-class>controlers.section.AddSection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSection</servlet-name>
    <url-pattern>/AddSection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSection</display-name>
    <servlet-name>DeleteSection</servlet-name>
    <servlet-class>controlers.section.DeleteSection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSection</servlet-name>
    <url-pattern>/DeleteSection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSection</display-name>
    <servlet-name>UpdateSection</servlet-name>
    <servlet-class>controlers.section.UpdateSection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSection</servlet-name>
    <url-pattern>/UpdateSection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMatiere</display-name>
    <servlet-name>AddMatiere</servlet-name>
    <servlet-class>controlers.matieres.AddMatiere</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMatiere</servlet-name>
    <url-pattern>/AddMatiere</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateMatiere</display-name>
    <servlet-name>UpdateMatiere</servlet-name>
    <servlet-class>controlers.matieres.UpdateMatiere</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMatiere</servlet-name>
    <url-pattern>/UpdateMatiere</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMatiere</display-name>
    <servlet-name>DeleteMatiere</servlet-name>
    <servlet-class>controlers.matieres.DeleteMatiere</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMatiere</servlet-name>
    <url-pattern>/DeleteMatiere</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddClasse</display-name>
    <servlet-name>AddClasse</servlet-name>
    <servlet-class>controlers.classe.AddClasse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddClasse</servlet-name>
    <url-pattern>/AddClasse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateClasse</display-name>
    <servlet-name>UpdateClasse</servlet-name>
    <servlet-class>controlers.classe.UpdateClasse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateClasse</servlet-name>
    <url-pattern>/UpdateClasse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteClasse</display-name>
    <servlet-name>DeleteClasse</servlet-name>
    <servlet-class>controlers.classe.DeleteClasse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteClasse</servlet-name>
    <url-pattern>/DeleteClasse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProf</display-name>
    <servlet-name>AddProf</servlet-name>
    <servlet-class>controlers.prof.AddProf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProf</servlet-name>
    <url-pattern>/AddProf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUser</display-name>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>controlers.users.AddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/AddUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUser</display-name>
    <servlet-name>UpdateUser</servlet-name>
    <servlet-class>controlers.users.UpdateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/UpdateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>controlers.users.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProf</display-name>
    <servlet-name>DeleteProf</servlet-name>
    <servlet-class>controlers.prof.DeleteProf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProf</servlet-name>
    <url-pattern>/DeleteProf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProf</display-name>
    <servlet-name>UpdateProf</servlet-name>
    <servlet-class>controlers.prof.UpdateProf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProf</servlet-name>
    <url-pattern>/UpdateProf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetClassesBySection</display-name>
    <servlet-name>GetClassesBySection</servlet-name>
    <servlet-class>controlers.classe.GetClassesBySection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetClassesBySection</servlet-name>
    <url-pattern>/GetClassesBySection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEtudiant</display-name>
    <servlet-name>AddEtudiant</servlet-name>
    <servlet-class>controlers.etudiant.AddEtudiant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEtudiant</servlet-name>
    <url-pattern>/AddEtudiant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EtudiantAssigning</display-name>
    <servlet-name>EtudiantAssigning</servlet-name>
    <servlet-class>controlers.etudiant.EtudiantAssigning</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EtudiantAssigning</servlet-name>
    <url-pattern>/EtudiantAssigning</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEtudiant</display-name>
    <servlet-name>UpdateEtudiant</servlet-name>
    <servlet-class>controlers.etudiant.UpdateEtudiant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEtudiant</servlet-name>
    <url-pattern>/UpdateEtudiant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEtudiant</display-name>
    <servlet-name>DeleteEtudiant</servlet-name>
    <servlet-class>controlers.etudiant.DeleteEtudiant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEtudiant</servlet-name>
    <url-pattern>/DeleteEtudiant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProfile</display-name>
    <servlet-name>UpdateProfile</servlet-name>
    <servlet-class>controlers.users.UpdateProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfile</servlet-name>
    <url-pattern>/UpdateProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BulkDeleteEtudiants</display-name>
    <servlet-name>BulkDeleteEtudiants</servlet-name>
    <servlet-class>controlers.etudiant.BulkDeleteEtudiants</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BulkDeleteEtudiants</servlet-name>
    <url-pattern>/BulkDeleteEtudiants</url-pattern>
  </servlet-mapping>
</web-app>